spring:
  application:
    name: HabitPlus
  datasource:
    drive-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/habitplus?useTimezone=true&serverTimezone=UTC
    username: 
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
