spring:
  application:
    name: HabitPlus
  datasource:
    drive-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/habitplus?useTimezone=true&serverTimezone=UTC
    username: postgres
    password: pass
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
